{% extends "blog/base.html" %}

{% block title %} Share Post {% endblock %}

{% block content %}
    {% if sent %}
        <h2>Email message sent</h2>
        <p>
            Post "{{ post.title }}" sent to {{ cd.to }}.
        </p>
    {% else %}
        <h2>Fill form to share "{{ post.title }}" by email </h2>
        <form action="." method="post">
            {% for field in form %}
            <div>
                {{ field.errors }}
                {{ field.label_tag }} <br> {{ field }}
            </div>
            <br>
            {% endfor %}
            {% csrf_token %}
            <br>
            <input type="submit" value="Share">
        </form>
    {% endif %}
{% endblock %}